.idea/*
.vscode
.nyc_output
build
/dist
node_modules
test
src/**.js
coverage
*.log
yarn.lock
/website/uploads
# Output of 'npm pack'
*.tgz

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
